[2021-04-02 00:17] SteveLasker opened #401 "docker push to support signed digest updates to a tag"
The title is not meant to imply tag signing, rather we want to assure the validations and eventually the final design accounts for the following scenario:

1. The `net-monitor:v1` image is posted to docker hub, with the wabbit-networks signature, and a digest of `@sha256:aaa`
2. Consumers of the `net-monitor:v1` image monitor the manifest associated with the `:v1` tag, and continually poll for upd

[2021-07-30 19:49] nate-double-u opened #3 "Add maintainers to .github/settings.yml"
Add new maintainers to the .github/settings.yml file in preparation of starting the website project.

https://github.com/notaryproject/notaryproject.dev/blob/0ca3cc5068bd600f7fef0793185d6005dea68b86/.github/settings.yml#L103-L118

[2021-07-30 19:52] nate-double-u commented on #3
/cc @SteveLasker, @lachie83

[2021-08-03 19:16] #3 closed

[2021-08-05 00:20] nate-double-u opened #5 "Setup a Hugo website with a Docsy theme"
* [Hugo](https://gohugo.io/)
* [Docsy theme](https://www.docsy.dev/)

[2021-08-05 00:21] nate-double-u opened #6 "Setup Netlify for hosting/CI"

[2021-08-10 00:46] nate-double-u opened #7 "Update admins list"
As per a conversation with @SteveLasker & @lachie83, add @justincormack to admins list in `.github/settings.yml`.

[2021-08-11 17:19] nate-double-u commented on #7
fixed in #3

[2021-08-11 17:19] #7 closed

[2021-08-11 17:23] nate-double-u commented on #6
Netlify has been set up here: [app.netlify.com/sites/notarydev](https://app.netlify.com/sites/notarydev/overview). @justincormack and @SteveLasker have been invited to be admins.

[2021-08-11 17:23] #6 closed

[2021-08-11 19:03] nate-double-u opened #10 "Enable link checker on preview"
Link checking [has been disabled](https://github.com/notaryproject/notaryproject.dev/pull/9/commits/57cc9b37126086ea04fb462fa6446404c76de345) to allow initial development on the site. Reverse this removal when appropriate.

[2021-08-12 20:13] #5 closed

[2021-08-12 20:13] #10 closed

[2021-08-12 20:19] nate-double-u opened #11 "Project twitter account"
Is there a twitter account for Notary Project? If there is, we can add it to the footer, and to the [community](https://notaryproject.dev/community/) page.

[2021-08-12 20:22] nate-double-u opened #12 "Notary Project email list"
Is there a Notary Project maintainers/developers email list or google group? If so, we can add it to the [community page](https://notaryproject.dev/community/)

[2021-08-12 20:25] nate-double-u opened #13 "Community meetings links"
On the [etcd.io community page](https://etcd.io/community/#community-meetings) there is a set of cards in the community meetings section: Google meet, meeting doc, and Youtube. I'd like to update our community page to include similar cards, what are the links to use in our case?

[2021-08-12 20:41] nate-double-u opened #14 "Set Specification link in top nav"
In the [Information Architecture](https://github.com/cncf/techdocs/blob/main/assessments/0002-notary-project.md#information-architecture-2) section of the docs assessment, we suggested a link to specifications (in GitHub potentially) to help folks find the work that's being done around designing Notary V2.

Would that link be better as "Requirements & Scenarios," and potentially link here: https:/

[2021-08-12 20:45] nate-double-u opened #15 "Set Notary docs link in top nav"
In the [Information Architecture](https://github.com/cncf/techdocs/blob/main/assessments/0002-notary-project.md#information-architecture-2) section of the docs assessment we suggest linking to the existing Notary documentation here: https://github.com/notaryproject/notary/tree/master/docs (at least initially until the docs can be migrated into this repo)

[2021-08-12 21:16] nate-double-u opened #16 "Update landing page"
Currently the landing page is a stub.

Bring content in from https://github.com/notaryproject/notaryproject/blob/main/README.md

Look at [etcd.io](https://etcd.io) and [grpc.io](https://grpc.io) as examples for content and layout.

Questions:
* Does Notary Project have a preferred one-liner description we can use under the logo in the hero section?
* "What is Notary Project?" or "Why Notary Projec

[2021-08-12 21:17] nate-double-u commented on #16
/cc @SteveLasker @lachie83

[2021-08-13 23:18] chalin opened #17 "Netlify redirects file is specified as an homepage `alternate`"
Currently, the homepage contains:

[code]

The Netlify redirects file shouldn't be listed as an `alternate` to the site's homepage.

Note: The corresponding etcd.io issue is https://github.com/etcd-io/website/issues/437

[2021-08-13 23:19] chalin commented on #17
The corresponding etcd.io fix is https://github.com/etcd-io/website/pull/438.

[2021-08-16 18:21] nate-double-u opened #18 "Some top-nav entires aren't shown as active when visisted"
This is the same issue as [reported for etcd.io](https://github.com/etcd-io/website/issues/443)

To see the expected behaviour:

*    Visit https://www.docsy.dev
*    Click on any top-nav entry, like About or Documentation
*    Notice that when viewing a pager under, say, the Documentation section, the corresponding top-nav entry is shown in bold. This is because it has the active class applied to

[2021-08-18 21:47] nate-double-u opened #20 "Correct project description in config file"
https://github.com/notaryproject/notaryproject.dev/blob/c0c92fc89e53575b892cbe20a14ee4e2423385dd/config.yaml#L38-L40

Still reads as etcd.io copy.

[2021-08-18 22:32] nate-double-u opened #21 "Migrate Notary documentation content"
Move the existing Notary V1 documentation from https://github.com/notaryproject/notary/tree/master/docs into `/content/en/docs/notary` to consolidate all the documentation in one place.

[2021-08-18 22:34] nate-double-u commented on #21
Adding p3-low label as we may not want to do this right away. Important for later.

[2021-08-18 22:46] nate-double-u opened #22 "Migrate existing Notation documentation"
Collect and migrate any existing, relevant, Notation documentation from https://github.com/notaryproject/notaryproject and https://github.com/notaryproject/notation, as well as any other relevant locations (please list below in comments), and put it in `/content/en/docs/notation` to help consolidate all the documentation in one place.

[2021-08-18 22:47] nate-double-u commented on #22
We may need to decide on an information architecture before embarking on this issue.

[2021-08-18 23:33] nate-double-u opened #23 "Information Architecture Proposal"
Please find an editable version of the IA Proposal here:
[notaryproject.dev Information Architecture Proposal](https://hackmd.io/@nate-double-u/H1JkSDYWF)

(Once the draft is complete, I'll bring it back here to be used for issue tracking)

[2021-08-18 23:35] nate-double-u commented on #23
This is the structure suggested in https://github.com/cncf/techdocs/blob/main/assessments/0002-notary-project.md#information-architecture-2, _but_ it is incomplete, and up for discussion. Particularly the architecture around how `/docs` should work with `V1` and `V2` documentation.

[2021-08-18 23:43] #20 closed

[2021-08-19 20:52] nate-double-u opened #25 "Cleanup links in README.md file"
Links broken throughout page.

[2021-08-24 18:03] nate-double-u opened #29 "Write contributor guides"
- [ ] Code contribution guide
- [ ] Documentation contribution guide

[2021-08-28 14:46] nate-double-u commented on #21
Updated reference to old repo location and refering to "Notary" instead of "V1."

[2021-08-28 14:50] nate-double-u commented on #22
Updated reference to old repo location and referring to "Notation" instead of "V2."

[2021-08-28 14:56] nate-double-u commented on #23
Based on discussions last week, I'd like to suggest that the docs get organized into 3 sections, one each for TUF, Notary, and Notation. (This would replace the V1/V2 folder organization we started with).

[2021-08-28 14:57] nate-double-u opened #30 "Update docs folder structure to reflect 3 projects"
Instead of `/content/en/docs/v1` and `/content/en/docs/v2`, use the project name for organizing the folder structure.

[2021-08-28 15:11] nate-double-u commented on #23
Will each project's documentation set require its own versioning?

[2021-08-29 18:19] nate-double-u commented on #23
I've added TUF, Notary, & Notation to the Top Nav section. I've removed Getting Started from the top nav as i'm not sure which project it would be referring to any longer.

[2021-08-29 19:01] nate-double-u commented on #16
Based on a conversation with @SteveLasker, @bridgetkromhout, and @AevaOnline, the front page should be reorganized around the idea that the Notary Project is the host to three projects, rather than showing just a notary logo and snippets explaining it, I think we should revise to show all three projects/logos, with snippets, which would link to the individual project landing pages.

[code]

[code]

[2021-08-29 19:03] nate-double-u commented on #23
The _Contributing_ (`/contributing`) page may need to be split into three or four contributing pages. One each for TUF, Notary & Notation, and then potentially a fourth for contributing to the documentation/website.

[2021-08-29 19:09] nate-double-u opened #32 "Add site search"
Look to etcd.io to see how it has been implemented there: https://github.com/etcd-io/website/pull/403

[2021-08-29 19:55] nate-double-u commented on #23
Rather than having an infrastructure that only I can edit, I've created a hackmd.io note to manage this, that way multiple people can edit/make suggestions/comment.

[notaryproject.dev Information Architecture Proposal](https://hackmd.io/@nate-double-u/H1JkSDYWF)

[2021-09-13 19:51] chalin opened #34 "Homepage: indicate that this is a CNCF Incubation project"
Currently there is no indication of the project stage, which usually indicates that it has graduated -- that isn't the case.

[2021-09-13 20:25] nate-double-u commented on #34
You're correct, according to the [CNCF Projects page](https://www.cncf.io/projects/), Notary is incubating.

[2021-09-14 19:44] chalin opened #37 "Link testing and Makefile: special setup using symlinks is no longer needed"
See the etcd.io Makefile for an example of the kind of simplification that is possible.

[2021-09-15 18:02] chalin opened #38 "Render-link hook is adding whitespace"
Consider this screenshot from the [Community page](https://notaryproject.dev/community/):

Notice the space between the periods at the end of the sentences and the links the precede them.

[2021-09-15 21:17] chalin commented on #37
Let's wait for htmltest v0.14.0+ to be released before fixing this. Ref.: https://github.com/wjdp/htmltest/discussions/174

[2021-09-15 21:32] #38 closed

[2021-09-15 21:32] #34 closed

[2021-09-16 14:28] chalin opened #41 "Remove link duplication from Community page metadata"
Cf. https://github.com/etcd-io/website/issues/480

[2021-09-16 14:36] chalin opened #42 "Use new and better canonical link to Google Groups"
For details, see https://github.com/etcd-io/website/issues/479.

[2021-09-21 14:35] chalin opened #43 "Complete file setup for proper use of cncf/docsy"
Ref. https://github.com/etcd-io/website/issues/431

[2021-09-21 14:37] chalin opened #44 "Upgrade docsy"
Related #43.

[2021-09-22 19:03] nate-double-u opened #45 "Homepage & Community page: top-nav can be difficult to read due to transparency"
Pages with block/cover have this issue:
<img width="1454" alt="Screen Shot 2021-09-22 at 11 59 32 AM" src="https://user-images.githubusercontent.com/4453979/134405474-687cd10c-1b92-49e8-96dd-3764d98094f8.png">
<img width="1237" alt="Screen Shot 2021-09-22 at 11 59 46 AM" src="https://user-images.githubusercontent.com/4453979/134405491-59c3d836-9685-492d-8f9e-3cfbe08457c3.png">

Also see https://gi

[2021-09-28 00:32] nate-double-u commented on #22
Given the _[How to document notary project content #101](https://github.com/notaryproject/notaryproject/issues/101)_ discussion, instead of migrating any Notation content now there should instead be a link in the top level navigation to the Notation Documentation in GitHub until it is ready to be migrated.

Initially this menu item should link to https://github.com/notaryproject/notation#notation

[2021-10-21 17:41] nate-double-u commented on #16
Even if we don't get the layout changed, we should at least update the blurb as it is no longer representative of the whole Notary Project.

[2021-11-05 00:47] #30 closed

[2021-11-05 00:50] nate-double-u opened #55 "Update subproject descriptions"
For the list of docs/projects (notation, notation-go, tuf), I wonder if the bulleted list should describe what each is

- notation - the cli for signing and verifying a notary v2 signature
- notation-go-lib - a set of go libraries for incorporating signing and verification in other clis
- tuf - prototypes for meta-data support, enabling compromise resilience, revocation of keys and artifacts, and

[2021-11-05 00:52] nate-double-u commented on #55
Page affected: https://notaryproject.dev/docs/

[2021-11-05 19:32] #55 closed

[2021-11-05 20:38] nate-double-u opened #58 "Move the content of the notaryproject/meeting-notes"
Move the content of the [notaryproject/meeting-notes](https://github.com/notaryproject/meeting-notes) repo to the [/content/en/community/meeting-notes](https://github.com/notaryproject/notaryproject.dev/tree/main/content/en/community/meeting-notes) folder of the  notaryproject.dev site.

[2021-11-05 21:04] nate-double-u commented on #58
Related: https://github.com/notaryproject/meeting-notes/issues/3

[2021-11-08 16:03] #58 closed

[2021-11-09 23:38] nate-double-u opened #61 "Blog and Docs navbar entries are not shown as active when section pages are being viewed"
- [ ] Blog (see screenshot below)
- [ ] Docs

related: https://github.com/grpc/grpc.io/issues/895

## Screenshots
### expected
<img width="1169" alt="Screen Shot 2021-11-09 at 3 34 01 PM" src="https://user-images.githubusercontent.com/4453979/141022664-5bbab766-8463-4905-827d-121eee5d5e5f.png">

### actual
<img width="1169" alt="Screen Shot 2021-11-09 at 3 33 33 PM - 2" src="https://user-images.gi

[2021-11-09 23:39] nate-double-u commented on #61
Marking as "good first issue" as the [related issue](https://github.com/grpc/grpc.io/issues/895) has 2 PRs that show potential solutions.

[2021-11-11 00:35] nate-double-u commented on #61
Another potential solution: https://github.com/gohugoio/hugo/issues/9150#issuecomment-965798975

[2021-11-27 17:18] reddymahendra52 commented on #61
I have checked the site. I can't seem to find the same error.

## Screenshots

### Community Page:
![Screenshot (20)](https://user-images.githubusercontent.com/61696212/143690711-0d539361-507d-4d4b-810e-5c050686b278.png)

### Blog Page:
![Screenshot (21)](https://user-images.githubusercontent.com/61696212/143690713-aae9542a-51f3-436c-a35f-aa5f3d158646.png)

[2021-11-27 20:09] nate-double-u commented on #61
Hi @reddymahendra52, thanks for looking into this!

At the Blog level it works, but if you click into an article, the highlighting disappears (see https://notaryproject.dev/blog/2021/announcing-notation-alpha1/)

<img width="1281" alt="Screen Shot 2021-11-27 at 12 06 37 PM" src="https://user-images.githubusercontent.com/4453979/143720785-02fb902d-77c1-4316-b8e1-3f6bdbd4e760.png">

Same with the Do

[2021-11-29 18:46] #61 closed

[2021-12-20 11:57] Hades32 opened #70 "Bad security practice in example"
The [announcement](https://github.com/notaryproject/notaryproject.dev/blob/main/content/en/blog/2021/announcing-notation-alpha1.md#L65-L67) contains this snippet
[code]
If I understand this correctly, this gets the digest to sign from a potentially public registry. So, in theory it would be possible for a malicious registry to modify the uploaded artifact before the signature process starts.
Isn't

[2021-12-20 12:21] marcofranssen commented on #70
At least for docker images it is the case the digest is generated locally during the push operation.
This digest even keeps the same across registries/repositories.
Pushing one image to multiple registries/repositories will have the same digest.

The only downside is that OCI/Docker registries do not have an API that allows requesting all tags for a certain digest. So e.g. if you are pulling an im

[2021-12-23 00:21] #14 closed

[2021-12-23 00:21] #18 closed

[2021-12-23 00:21] #15 closed

[2022-02-16 23:07] SteveLasker commented on #70
Closing as I believe this is covered.
FWIW, we do want to [support tag signing](https://github.com/notaryproject/notaryproject/issues/63)

[2022-02-16 23:07] #70 closed

[2022-02-16 23:09] SteveLasker opened #71 "Update docs to reflect Notary signs more than just containers"
The docs focused on the container ecosystem, as the primary usecase. However, there are two pivots we need to recognize in the docs.
1. Registries can store anything from containers, helm charts, debian packages, family photos to VM images
2. Notary can be used to sign things outside of the registry, including other package managers, files stored on shares.

This issue is to document the breadth b

[2022-03-24 21:44] SteveLasker opened #72 "Automate notation cli commands"
The Notary Project cli docs could use some assistance with the list of commands and parameters for each `notation` command group.
Automating the list of commands and parameters from code would dramatically ease quick iterations.

We'll also want to add human docs to round the automation.

[2022-06-08 23:06] dtzar commented on #29
https://contribute.cncf.io/maintainers/github/templates/required/contributing/

[2022-07-25 21:24] nate-double-u opened #74 "Add Google Analytics 4"
This as part of a CNCF-wide effort to upgrade project websites to GA4 since Google has deprecated Universal Analytics (UA). For more details, see:
* https://github.com/cncf/techdocs/issues/108, including reference to:
  * A suggested [migration process](https://github.com/cncf/techdocs/blob/main/docs/analytics.md#migrating-to-google-analytics-4), which we've used to [migrate a few CNCF projects](h

[2022-09-29 23:32] nate-double-u opened #76 "Netlify: select a new build image"
Notice from Netlify

As reported via deploy logs:

All Netlify builds using the Xenial build image will begin failing in the week of November 15th, 2022.

https://app.netlify.com/sites/etcd/settings/deploys#build-image-selection

[2022-10-13 18:16] dtzar opened #77 "Documentation updates desired for Notation v1.0.0"
Epic Issue to track all the issues we want to complete for the RC-1 release.

- [ ] Add content or remove https://notaryproject.dev/docs/tutorials/
- [ ] Add content or remove https://notaryproject.dev/docs/how-to/
- [ ] Add content or remove https://notaryproject.dev/docs/troubleshooting/
- [x] https://github.com/notaryproject/notaryproject.dev/issues/16

--------
Specifically, The following guid

[2022-10-18 00:54] FeynmanZhou commented on #77
@dtzar  For the chapters still with empty content, I think we can provide a documentation list first to showcase what user guides need to be added. Then we can start to write the content and ask for technical docs support from the [CNCF service desk portal](https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1) in parallel.

[2022-10-21 15:44] dtzar opened #78 "Add promoting scenario document"
https://github.com/notaryproject/notation/pull/98

[2022-10-26 08:19] yizha1 commented on #77
Here is a proposal for inspiring and  further discussions: @dtzar @FeynmanZhou @iamsamirzon @vaninrao10

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=OneNote.File>
<meta name=Generator content="Microsoft OneNote 15">
</head>

<body lang=en-US style='font-famil

[2022-11-03 14:47] FeynmanZhou commented on #74
Will @nate-double-u continue to work on this issue?

[2022-11-03 14:52] FeynmanZhou commented on #25
@nate-double-u  All links have been cleaned up in [Notation README](https://github.com/notaryproject/notation). Can you confirm if we can close it?

[2022-11-03 14:53] FeynmanZhou commented on #29
I can self-assign this issue.

[2022-11-03 14:59] FeynmanZhou commented on #12
Not yet. We can register a new one if this is required or recommended by CNCF. Currently we are using GitHub Discussion.

[2022-11-03 15:19] FeynmanZhou commented on #22
We have migrated most of the documents from other repos to the Notary website.
https://github.com/notaryproject/notaryproject.dev/pull/75
https://github.com/notaryproject/notaryproject.dev/pull/80

[2022-11-03 17:06] chalin commented on #74
FYI, we've started promoting, in some cases, setting of the ID as an environment variable via the Netlify console. We can discuss during our next sync if you'd like.

[2022-11-03 17:07] chalin commented on #74
I'll let @nate-double-u answer.

[2022-11-05 02:03] toddysm commented on #12
@karenhchu and @bridgetkromhout is this something that you can help with?

[2022-11-05 02:04] toddysm commented on #11
CC:// @bridgetkromhout ^^

[2022-11-05 02:05] toddysm commented on #17
@nate-double-u trying to clean up the issues. Is this something that still needs to be done?

[2022-11-05 02:06] toddysm commented on #21
@nate-double-u Cleaning up issues. Is this something that still needs to be done?

[2022-11-05 02:06] toddysm commented on #22
@nate-double-u Cleaning up issues. Is this something that still needs to be done? Also, seems dupe of #21

[2022-11-05 02:08] toddysm commented on #23
@zr-msft I will use the HackMD @nate-double-u linked above to collaborate on the information architecture.

[2022-11-05 02:09] toddysm commented on #29
@FeynmanZhou would you mind linking HackMD doc with the draft to collaborate on?

[2022-11-05 02:10] toddysm commented on #37
@nate-double-u Is this something that still needs to be done?

[2022-11-05 02:10] toddysm commented on #42
@nate-double-u is the proposal to use Google Groups for email list?

[2022-11-05 02:11] toddysm commented on #43
@nate-double-u Is this still something that needs to be done?

[2022-11-05 02:11] toddysm commented on #44
@nate-double-u Is this still something that needs to be done?

[2022-11-05 02:13] toddysm commented on #45
Hopefully this will get fixed with the new design work. Keeping as a bug

[2022-11-05 02:14] toddysm commented on #71
Will keep to consider in the documentation.

[2022-11-05 02:15] toddysm commented on #72
Don't think this belongs to this repository. Commands are specified in the notaryproject/notation repository. Would recommend filing the issue there. Will close in a week if no further action is requested.

[2022-11-05 02:17] toddysm commented on #76
@nate-double-u Is this completed or do we need to take any action to fix this? We have less than two weeks till the deadline.

[2022-11-05 02:20] toddysm commented on #78
@dtzar and @SteveLasker changing this to p3-low for now until we clean up the rest of the documentation that is higher priority.

[2022-11-05 04:52] SteveLasker commented on #72
Thanks Toddy,
While the apis are defined in the notation project, how can we document their usage in the site?  Some automation, perhaps?

[2022-11-05 04:53] SteveLasker commented on #78
agreed on priority. This could be as simple as pointing to oras copy to get folks started

[2022-11-06 00:33] chalin commented on #17
Thanks for noticing @toddysm.
Closed by #69

[2022-11-06 00:33] #17 closed

[2022-11-06 00:37] chalin commented on #76
I suspect that this hasn't been done yet (I can't check at the moment since I don't have access to Netlify).

[2022-11-06 00:39] chalin commented on #74
@nate-double-u - we could wrap this up on Tuesday during or after our sync, WDYT?

[2022-11-06 00:41] chalin commented on #44
Yes, this should be done.

[2022-11-06 00:46] chalin commented on #76
I confirm that this hasn't been completed.

Also, all the builds for the past week or so (at least) have been failing, possibly because of this. @nate-double-u or I can look into this when I'm back at the office (Monday or Tuesday).

[2022-11-06 00:48] chalin commented on #76
Seems to have started failing when the active Node.js LTS went from v16 to v18.

[2022-11-07 18:28] toddysm opened #83 "Improve notation download and installation instructions"
The only installation experience that Notation currently has is for users to download the binary and manually copy to the appropriate folder on their machine. At a minimum, we need to provide the right instructions how to download, verify the binaries, and the correct places to copy the binaries for various operating systems.

Starting a HackMD spec for that on https://hackmd.io/@toddysm/SJhUuI7Bi

[2022-11-07 18:41] karenhchu commented on #11
I'll need an email account to register with. Is there mailing list all the the maintainers are on so that there's shared access if/when people leave?

[2022-11-07 19:34] toddysm commented on #11
I don't think so - we will need to also create mailing lists for maintainers and community - see #12

[2022-11-07 19:56] karenhchu commented on #11
I believe the maintainer mailing list is something that needs to be coordinated with CNCF. I'd imagine there's already an existing one since it's usually pulled from the maintainer list file in the project repo. I'd recommend starting with the CNCF Service Desk.

[2022-11-07 20:00] toddysm commented on #11
@FeynmanZhou would you mind checking with CNCF and updating the issue with details?

[2022-11-07 20:06] toddysm commented on #72
I may be confused what the ask here is. The CLI should have self-explanatory help for all commands. Is the ask here to publish the help to the web site automatically when a new build of the CLI is done?

[2022-11-07 22:36] SteveLasker commented on #72
The ask is to have some amount of commands documented, similar to https://oras.land/cli/1_pushing/
where scenarios are documented, to show what series of commands can be used.

[2022-11-07 22:55] zr-msft commented on #83
thanks @toddysm feel free to assign to me

[2022-11-07 23:00] nate-double-u commented on #12
If the project wants an email list (if there isn't one already), I can create one using https://lists.cncf.io/

[2022-11-07 23:14] nate-double-u commented on #12
It seems like there _is_ an internal maintainers list -- but i don't recommend publishing that one. If the project wants a second, public facing, email list let me know -- if not, that's fine, we can close this issue 🙂

[2022-11-07 23:38] toddysm commented on #72
@shizhMSFT Do you know what is the process to automate the publishing of the help commands to the notaryproject.dev if there is such automation possible?

[2022-11-08 00:05] toddysm commented on #12
We may need three different lists:
- Maintainers (this can be the internal one that you mentioned) - this doesn't need to be published on the site
- Security one (can be the same people as above but with security@notaryproject.dev email address) used to report security issues - this should be published on the site
- General mailing list for discussions - this should be published on the site

[2022-11-08 00:51] shizhMSFT commented on #72
@yizha1 and @FeynmanZhou can help here.

The `notation` CLI uses cobra as its CLI framework and thus we can generate CLI doc automatically using the build-in functions by cobra. However, the generated doc is not in a good shape and may need more attention to revise it. We are able to enhance it if we have sufficient dev resources.

[2022-11-08 02:14] toddysm opened #84 "Document how to manually create trust policy for RC1 first run experience"
For RC1 we don't have good experience to create trust policy even for the test scenario `notation cert generate-test`. We should document the manual steps to create policy for the test cert and place it in the correct place depending on the OS folder structure.

CC:// @zr-msft

[2022-11-08 16:47] Duffney opened #85 "Document signing certificate requirements"
I wasn't able to find any documentation of how to create a certificate that meets the requirements for the Notation CLI. Only through trial and error was I able to discover which key usages were acceptable. Previous version of Notation didn't have this requirement. It would be useful to explain the requirements for a signing certificate and then link that article to the sign command when it throws

[2022-11-08 17:00] nate-double-u commented on #74
The new GA4 measurement ID is `G-64X4HRE9R0`.

[2022-11-08 17:19] nate-double-u commented on #76
I've gone in and changed the build image,

<img width="951" alt="Screenshot 2022-11-08 at 9 18 13 AM" src="https://user-images.githubusercontent.com/4453979/200632113-f2a9a105-ecb9-47db-9865-1a2ab7e9e921.png">

Previews are deploying correctly now: https://app.netlify.com/sites/notarydev/deploys/636a8f646026b21cb3b8ba87

[2022-11-08 17:21] nate-double-u commented on #76
We should make sure that there are maintainers (or folks delegated by the maintainers) in the[CNCF Projects Netlify](https://app.netlify.com/teams/cncf-projects/overview) team so that these kinds of changes can be made by the Notary team.

/cc @SteveLasker

[2022-11-08 17:26] vaninrao10 commented on #84
@toddysm - Can you please add few scenarios so the documentation covers those user experience. Once we establish the expectation from RC-1 and document the user scenarios described in our meeting, it will help our team to accurately narrate it in the documentation.

[2022-11-08 19:07] toddysm commented on #84
I believe the agreement here was to just document the manual creation of the policy for the test cert as part of the first run experience. We will document the scenarios in https://github.com/notaryproject/notation/issues/438

[2022-11-08 19:18] chalin commented on #76
I'm glad that the image update fixed the build problems.
Can this be closed now @nate-double-u?

[2022-11-08 20:55] #76 closed

[2022-11-08 23:33] nate-double-u commented on #74
Looks like it's not triggering data yet.

[2022-11-09 01:08] toddysm opened #88 "Notary project information architecture for the documentation section"
Filing this issue to discuss the information architecture for the notary documentation site. Note that this is not the whole notaryproject.dev site but just the docs section https://notaryproject.dev/docs/. There is already issue #23 for the overall site IA.

Here is an initial proposal for the docs IA:

### New Documentation Directory
Category | Documentsn | Status | Need   review existing docs?

[2022-11-09 01:20] FeynmanZhou commented on #88
Spec audiences are developers. I think it's not necessary to add specifications to the website. We might keep the specifications in the https://github.com/notaryproject/notaryproject repo for single-source content maintenance.

[2022-11-09 01:54] sozercan opened #89 "quickstart notation cert add doc is outdated"
In https://notaryproject.dev/docs/quickstart/#add-a-trusted-public-key:
[code]

[code]

[2022-11-09 17:57] nate-double-u commented on #88
We may be able to simplify the top level docs with a structure like:
* Concepts
* Tasks
* Tutorials
* Reference

(kubernetes.io uses this structure to good effect: https://kubernetes.io/docs/home/)

Things like quick start, installation guides, and troubleshooting could go under Tasks.

Specifications and FAQs would probably go under Reference.

It's also worth noting that the folder structure und

[2022-11-09 19:32] zr-msft commented on #88
@nate-double-u usually i've seen quickstarts as their own top-level items or folder to increase visibility. Beyond having a cleaner top level of the TOC, do you have a strong feeling for mixing them with tutorials and the rest of the guides?

[2022-11-09 19:59] nate-double-u commented on #88
I agree, but this is why I mention the separation of what gets displayed and what the underlying folder structure is -- they can be something other than 1 to 1. The quick start can be listed in the nav but still be stored in a deeper-level folder.

We should also consider what pages need to be versioned and make sure that the stuff that doesn't have to change every release gets pulled out and put

[2022-11-09 20:24] chalin opened #91 "Use active LTS version of Node"
If you're still planning on using Docsy, you'll want to revert #87, since Docsy officially supports only the active LTS version of Node.

While retrograding the Node version may have provisionally fixed the build, it isn't addressing the source of the problem IMHO.

/cc @nate-double-u

[2022-11-09 20:39] chalin commented on #74
The GA4 ID isn't being registered: if you look at the site source, you won't find the ID.

The problem is that the version of Docsy is too old, and only works with UA IDs. You'll need to:

- Fix the production build. For details, see https://github.com/notaryproject/notaryproject.dev/pull/82#issuecomment-1309339791. Otherwise, you won't be able to see any future changes on the production server.
-

[2022-11-09 20:50] nate-double-u commented on #74
Related: https://github.com/notaryproject/notaryproject.dev/issues/44

[2022-11-09 20:55] nate-double-u commented on #43
If we're moving to the latest version of Docsy, I think it may be easiest to use NPM to install and manage it. @chalin, thoughts?

[2022-11-09 22:30] zr-msft commented on #83
@FeynmanZhou  @shizhMSFT @yizha1

are `NOTATION_LIBEXEC`, `NOTATION_CONFIG`, and `` directories created automatically after the CLI binary installed and executed? Do users need to set those environment variables or is it optional?

[2022-11-10 01:43] chalin commented on #74
On another project I found that Docsy was too old as well. There is some value in getting analytics up ASAP. If you'd like to do that here as well, then you can use this PR as an example: https://github.com/dapr/blog/pull/93/files.

[2022-11-10 02:17] chalin commented on #43
It depends on how many file overrides there are: if there are many, then having a Notary-specific branch would be advisable. We should minimize overrides -- OTel has very few, for example. Regardless, keeping it as a submodule for now, might make sense. We can always switch to using Docsy via NPM later. With more recent versions of Docsy, projects no longer require recursive submodules, which is a

[2022-11-10 13:26] yizha1 commented on #84
@toddysm  should we improve the quick start https://notaryproject.dev/docs/quickstart/?

[2022-11-10 14:14] yizha1 commented on #84
@toddysm @dtzar How about creating a document of FAQ for user to easily configure trust policies?

- Why do I need to configure a trust policy?
- How do I create multiple policies for different repositories?
- How do I apply a policy for multiple repositories?
- How do I trust any signing certificates?
- How do I trust specific signing certificates?
- How do I apply trust policy for all artifacts?

[2022-11-10 14:28] zr-msft commented on #84
@yizha1 @toddysm I think we should keep the current quickstart and create an additional guide/quickstart with this flow. They both have value

[2022-11-10 14:37] zr-msft commented on #84
We can create content on all of the above, but I don't think an FAQ is a good fit for everything.

FAQ guides tend to work best when they answer questions and provide context, not necessarily telling a user how to do something.

These are good FAQ questions:

Everything else would work better as part of a how-to guide.

[2022-11-10 15:05] chalin commented on #74
Actually, now that we have Netlify access, an even simpler setup for GA4 would be via [Netlify snippet injection]. Would you like me to set that up @nate-double-u, or do a walkthrough of such a setup?

[Netlify snippet injection]: https://docs.netlify.com/site-deploys/post-processing/snippet-injection/

[2022-11-10 17:24] zr-msft commented on #83
Thank you @FeynmanZhou

I'll review/sign-off the linked PR and wait for merge to update my PR.

[2022-11-10 18:32] toddysm commented on #84
@yizha1 I think the current quick guide https://notaryproject.dev/docs/quickstart/ is good enough. Few comments about it though:
- @zr-msft I believe there are some grammatical and misspelling mistakes, can you proof-read?
- Should this be after the installation guide in the navigation?
- @yizha1 do we need the following:

*For users want to enable trust policy for specific repositories, set the r

[2022-11-10 22:14] zr-msft commented on #83
I'll need to make updates after #80 is merged. @FeynmanZhou @toddysm @dtzar you're welcome to merge now and I'll do a fast follow PR, otherwise will updated after #80 is merged.

[2022-11-10 22:35] dtzar commented on #83
Merged @zr-msft

[2022-11-10 22:54] zr-msft commented on #83
thank you @dtzar for merging. PR is updated to include links to new docs for more details on `notation` config

[2022-11-11 16:55] toddysm commented on #88
We should have a developer specific section that explains the concepts for people who want to implement tools using the libraries. We can move the specifications there. Though, this is not a priority for the documentation.

[2022-11-11 17:37] toddysm opened #94 "Security policy for notation"
We need to write a security policy for Notation project.

[2022-11-15 01:58] FeynmanZhou commented on #88
@toddysm Actually specs have been migrated to the website from https://github.com/notaryproject/notaryproject. If we want to maintain it on the website, I think we should remove the duplicated source at https://github.com/notaryproject/notaryproject.

[2022-11-16 06:46] FeynmanZhou commented on #11
Yes. I will confirm the Notary email with CNCF. After we get the email, we can register a Twitter handle.

[2022-11-22 03:40] yizha1 commented on #16
updated milestone to `discussion` since it is not mandatory for rc.1

[2022-11-22 10:24] FeynmanZhou commented on #77
Specifically, I think the following guides are necessary for the RC.1 release, let's confirm and focus on the RC.1 scope first:

- [ ] Update [Quick start](https://notaryproject.dev/docs/quickstart/) to RC.1

- [ ] [Tutorial](https://notaryproject.dev/docs/tutorials/): user manual for Notation CLI functionalities
    - [ ] Sign artifacts
    - [ ] Verify artifacts using the trust store and trust p

[2022-11-22 14:38] yizha1 commented on #77
@FeynmanZhou  I think this is a good list for rc.1. Just questions on the two tutorials below. What is the difference? Did Zach already work on one of the tutorials?

-  Verify artifacts using the trust store and trust policy
-  Configure trust store and trust policy

[2022-11-22 14:39] FeynmanZhou commented on #94
From my understanding, it should be a recommended trust policy JSON file with strict security configurations, like a best practice of TP, right?
If so, we can upload this JSON file to GitHub and provide a download link for users to easily download it to a target folder.

[2022-11-22 20:28] zr-msft commented on #77
agreed with @yizha1  that we can combine configure and verify with trust store and policy

also, i think we should reverse the items under 'tutorials' and 'how-to'. How-to guides are single subject around a feature, tutorials are end-to-end scenarios.

[2022-11-22 21:12] vaninrao10 commented on #77
I am not sure if we should combine. I would say for a feature which is the tutorial scenario, the per-requisite is what is defined in the How-to guide. If we start putting per-requisites and necessary configuration needed in the tutorial section then it will become massive information for customers. The sectional is good idea.

[2022-11-29 00:14] FeynmanZhou commented on #94
Hi @zr-msft, could you pls help us to prepare for this guide?

[2022-11-29 00:26] FeynmanZhou commented on #25
Close this issue if we detect more broken links.

[2022-11-29 00:26] #25 closed

[2022-11-29 14:43] FeynmanZhou commented on #11
@toddysm @nate-double-u @karenhchu I registered a Twitter handle for Notary: https://twitter.com/NotaryProject.
I will close this issue as we completed it.

[2022-11-29 14:43] #11 closed

[2022-11-29 15:09] FeynmanZhou commented on #22
I think we can close this as completed. If we detect any remaining work items, then reopen this one.

[2022-11-29 15:09] #22 closed

[2022-11-29 20:54] zr-msft commented on #77
@toddysm I'm fine with adding an 'additional scenarios' page that would include this along with some contextual information for each item we're linking out to

@FeynmanZhou  @toddysm I'm assuming we need to include #84 in this list as well

@FeynmanZhou around organization, a lot of the items you have listed under 'tutorials' come across as recipes and not 'leading people by the hand through a sce

[2022-11-30 20:36] zr-msft opened #97 "Create a page listing integrations with cloud vendors"
per this comment
https://github.com/notaryproject/notaryproject.dev/pull/96#discussion_r1036223503

Create a page linking to specific guides in cloud vendor documentation that use notation

[2022-11-30 22:46] zr-msft opened #98 "Create an end-to-end guide (tutorial) for configuring a trust policy"
Create a tutorial that shows an example of configuring a trust policy